@layer colors {
    :root {
        --brown: #7b542f;
        --light-brown: #b6771d;

        --secondary-amber: #f59e0b; /* for hover */
        --golden-yellow: #fbbf24; /* for buttons links and key highlights */

        --warm-dark: #1c1917;
        --off-white: #e7e5e4;

        --light-base: #fef3c7;
        --light-surface: #fffbeb;

        --white: #fff;

        --menu-background: #292524;
    }
}

@layer background-width {
    :root {
        --container-width-sm: 90%;
        --container-width-md: 82%;
        --container-width-lg: 70%;
    }
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: 'Outfit', sans-serif;
    background: var(--light-surface);
}

h1 {
    line-height: 1.1;
    font-size: 2.5rem;
}

h2 {
    line-height: 1.1;
    font-size: 1.75rem;
}

h3 {
    line-height: 1.1;
    font-size: 1.25rem;
}

p {
    line-height: 1.4;
    font-size: 1rem;
    font-weight: 300;
}

img {
    width: 100%;
    object-fit: cover;
    overflow: hidden;
}

.uil {
    font-size: 1.5rem;
    font-weight: 900;
    color: var(--golden-yellow);
}

.logo {
    font-family: 'Playwrite DE SAS', cursive;
    font-size: 1.5rem;
    color: var(--golden-yellow);
}

nav {
    background: var(--warm-dark);
    color: var(--white);
    width: 100vw;
    position: fixed;
}

.navbar {
    height: 4rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#menu-close {
    padding: 0 2rem;
}

.uil {
    cursor: pointer;
}

.nav__list {
    position: absolute;
    top: 0;
    right: 0;
    left: 0rem;
    z-index: 1;
    background: var(--menu-background);
    opacity: 0.95;
    height: 100vh;
    /* width: 100%; */
    /* text-align: center; */
    padding: 1rem 0;

    display: none;
}

.nav__links {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    padding: 5rem;
}

/* .nav__list ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
} */

.nav__links a {
    padding: 1rem;
    border-radius: 5px;
    color: var(--off-white);

    transition: all 0.3s ease-in-out;
}


.nav__list a:active {
    color: var(--secondary-amber);
}

.hero__section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 1rem;
    text-align: center;
    padding-top: 5rem;
}

.ismail__profile {
    border: solid 3px var(--secondary-amber);
    border-radius: 50%;
    height: 200px;
    width: 200px;
    padding: 0.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    transition: all 500ms ease-in-out;
}

.ismail__profile img {
    object-fit: cover;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    transition: all 500ms ease-in-out;
}

.ismail__profile:hover {
    transform: translateY(-5px);
}

.ismail__links {
    /* margin-top: 2.5rem; */
    padding: 1rem;
    display: flex;
}

.ismail__links a {
    margin-left: 1rem;
    padding: 1rem 2rem;
    border-radius: 30px;
    border: 1px var(--warm-dark) solid;
    color: var(--warm-dark);
    transition: 0.5s ease-in-out;
}

.ismail__links a:nth-child(2) {
    background: var(--golden-yellow);
    color: var(--warm-dark);
    /* border-color: black; */
}



.ismail__descr {
    margin: 2rem 0 1rem 0;
}

.container {
    width: var(--container-width-sm);
    margin: 0 auto;
}

.skill h4 {
    font-size: 1rem;
}

.skill {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 50px; */
    border-radius: 40px;
    display: inline-flex;
    gap: 1rem;
    border: 1px solid var(--warm-dark);
    background: var(--light-base);
    padding: 1rem;
    color: var(--warm-dark);
    transition: 0.3s ease-in-out;
}

.skill:hover {
    background: var(--light-base);
    /* cursor: pointer; */
    transform: translateY(-10px);
    transition: 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.skills {
    margin: 3rem 0 0;
}

.skills__icons {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.skills__icon {
    width: 30px;
    /* height: 30px; */
    /* width: 100%; */
    /* max-width: 70px; */
    overflow: hidden;
    object-fit: contain;
}

.journey__container {
    padding: 3rem 0;
}

.journeys {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.journey {
    background: var(--light-base);
    padding: 1rem;
    border-radius: 10px;
    color: var(--warm-dark);
    border-bottom: 5px solid var(--golden-yellow);
    transition: all 0.3s ease-in-out;
    /* transition-delay: .8s; */
}

.journey:nth-child(2) {
    border-bottom: 5px solid var(--secondary-amber);
}

.journey:nth-child(3) {
    border-bottom: 5px solid var(--light-brown);
}

.journey:hover {
    background: var(--light-base);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
}

.journey h3 {
    margin-bottom: 1rem;
}

/* Projects */
.projects {
    margin-bottom: 2rem;
}

.project__wrapper {
    display: flex;
    gap: 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 2rem;
}

.project {
    background: var(--light-base);
    padding: 2rem 1rem;
    border-bottom: 5px solid var(--golden-yellow);
    border-radius: 10px;
    transition: all 0.4s ease-in-out;
}

.project:nth-child(2) {
    border-bottom: 5px solid var(--secondary-amber);
}

.project:nth-child(3) {
    border-bottom: 5px solid var(--light-brown);
}

.project:nth-child(4) {
    border-bottom: 5px solid var(--brown);
}

.project:hover {
    /* transform: translateY(-10px); */
    box-shadow: 0 10px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.4s ease-in-out;
}

.project img {
    margin-bottom: 2rem;
    width: 100%;
}

.project__tittle {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.project__info {
    margin-bottom: 2rem;
    display: none;
    transition: all 1s ease-in-out;
}

.project:hover .project__info {
    display: block;
    transition: all 1s ease-in-out;
}

.project a {
    padding: 1rem 2rem;
    text-decoration: none;
    background: var(--light-brown);
    border-radius: 40px;
    color: var(--light-base);
    margin-right: 2rem;
}

.project a:hover {
    background: var(--light-base);
    color: var(--brown);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
}

/* FIXME */

@media screen and (min-width: 780px) {
    .navbar__toggle {
        display: none;
    }

    .nav__list {
        display: block;
        position: static;
        height: auto;
        background: none;
        padding: 0;
        flex-direction: row;
    }

    .nav__links {
        flex-direction: row;
        padding: 0;
    }
    
    .nav__list a:hover {
    color: var(--golden-yellow);
    transform: translateY(-5px);

    transition: all 0.3s ease-in-out;
}

    #menu-close {
        display: none;
    }
    
    .ismail__links a:hover {
    background: var(--secondary-amber);
    color: var(--warm-dark);
    border-color: var(--secondary-amber);
    transition: 0.5s ease-in-out;
    
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    
    transform: translateY(-5px);
}
    
    .skill {
        background: var(--golden-yellow);
    }

    .skill:hover {
        background: var(--light-base);
        transition: 0.3s ease-in-out;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    .journey {
        background: var(--golden-yellow);
        padding: 1rem;
        border-radius: 10px;
        color: var(--warm-dark);
        border-bottom: 5px solid var(--light-brown);
        transition: all 0.3s ease-in-out;
        /* transition-delay: .8s; */
    }

    .journey:hover {
        background: var(--light-base);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        transform: translateY(-5px);
    }
}
